body {
    background-image: url(/img/Library.jpg);
    background-repeat: no-repeat;
    background-color: black;
    background-position: center top;
    text-align: center;
}

h1,
h2,
a {
    color: black;
    font-size: 300%;
}

.hist-link {
    background: rgba(250, 250, 250, 0.638);
    background-position: center;
    margin: 5% 30%;
    border-radius: 5px;


}

.nav-list {
    list-style-type: none;

}

.h2-side {
    text-align: right;
}

.Books-container{
    /* background: rgba(250, 250, 250, 0.638); */
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}